<launch>
<!--   ebot -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find uvc_urdf_description)/urdf/uvc_urdf.xacro'"/>

<!--   office world -->
	<include file="$(find ebot_gazebo)/launch/office_world.launch" /> 
<!-- Lab world -->
<!--	<include file="$(find ebot_gazebo)/launch/lab_world.launch" /> --> 

<!-- Argument for spawning location -->
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0"/>
		
<!-- Spawn the robot model -->
	<node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
	    args="-urdf -param robot_description -model ebot -x $(arg x) -y $(arg y) -z $(arg z)" />

<!-- include your navigation launch file  -->		
<!-- including launch file for localization using AMCL -->
<!-- including launch file for visualizing in rviz -->	
	<include file="$(find uvc_urdf_description)/launch/bot_visualize.launch"/> 
	<include file="$(find ebot_nav)/launch/move_base.launch"/>
	<include file="$(find ebot_nav)/launch/amcl_demo.launch" />




</launch>
